In [1]:
import pandas as pd
import requests
import json
from pprint import pprint
from config import openWeatherKey

ModuleNotFoundError: No module named 'config'

In [4]:
coordinates_csv = "output_data/NEW_coordinates.csv"
weatherDisasterCSV = "Resources/disaster_data.csv"
wDisaster_df = pd.read_csv(weatherDisasterCSV)
desiredColumns = ["Dis No", "Year", "Seq", "Disaster Subgroup", "Disaster Type", "Disaster Subtype", "Disaster Subsubtype", "Entry Criteria", "ISO", "Location", "Start Month", "End Month", "Total Deaths", "No Injured", "No Affected", "No Homeless", "Total Affected", "Insured Damages ('000 US$)", "Total Damages ('000 US$)", "CPI"]
wDisaster_df = wDisaster_df.loc[wDisaster_df["ISO"] == "USA", desiredColumns]
wDisaster_df

,Dis No,Year,Seq,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Entry Criteria,ISO,Location,Start Month,End Month,Total Deaths,No Injured,No Affected,No Homeless,Total Affected,Insured Damages ('000 US$),Total Damages ('000 US$),CPI
2,2000-0080-USA,2000,80,Hydrological,Flood,Riverine flood,NaN,Affect,USA,"Kentucky, Ohio provinces",2,2.0,3.0,NaN,231.0,NaN,231.0,NaN,NaN,67.355759
3,2000-0500-USA,2000,500,Hydrological,Flood,Riverine flood,NaN,Affect,USA,"Morris, Sussex districts (New Jersey province)",8,8.0,NaN,NaN,175.0,NaN,175.0,NaN,166000.0,67.355759
4,2000-0919-USA,2000,919,Meteorological,Storm,NaN,NaN,SigDam,USA,"Alabama, Georgia, Louisiana, North Carolina, S...",1,1.0,4.0,NaN,NaN,NaN,NaN,280000.0,350000.0,67.355759
5,2000-9712-USA,2000,9712,Climatological,Drought,Drought,NaN,Affected,USA,Wyoming province,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.355759
6,2000-0838-USA,2000,838,Meteorological,Storm,Convective storm,Winter storm/Blizzard,Kill,USA,"Texas, Oklahoma, New Mexico, Arkansas, Missour...",12,12.0,57.0,34.0,NaN,NaN,34.0,200500.0,10000.0,67.355759
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532,2019-0307-USA,2019,307,Hydrological,Flood,NaN,NaN,Affected,USA,"Lincolnton region (Lincoln County, North Carol...",6,6.0,3.0,NaN,600.0,NaN,600.0,NaN,NaN,100.000000
533,2020-0148-USA,2020,148,Meteorological,Storm,Convective storm,Tornado,Kill,USA,"Louisiana, Texas, Mississippi, South Carolina,...",4,4.0,38.0,200.0,NaN,NaN,200.0,NaN,1000000.0,NaN
534,2020-0011-USA,2020,11,Meteorological,Storm,Convective storm,Severe storm,Kill,USA,"Texas, Oklahoma, Missouri, Arkansas, Louisiana...",1,1.0,12.0,NaN,NaN,NaN,NaN,NaN,1200000.0,NaN
535,2020-0082-USA,2020,82,Meteorological,Storm,Convective storm,Tornado,Waiting,USA,"Nashville (Tennessee), Kentucky, Missouri, Mis...",3,3.0,25.0,300.0,12000.0,NaN,12300.0,NaN,1100000.0,NaN
536,2020-0219-USA,2020,219,Meteorological,Storm,Tropical cyclone,NaN,Affected,USA,"errebonne, Plaquemines, Lafourche Parishes (Lo...",6,6.0,1.0,NaN,NaN,NaN,NaN,NaN,325000.0,NaN

In [5]:
wDisaster_df["Location"].value_counts()

Texas province                                                                                                                     4
Florida province                                                                                                                   3
Arizona province                                                                                                                   3
California province                                                                                                                3
Illinois, Indiana, Iowa, Kansas, Michigan, Minnesota, Missouri, Nebraska, North Dakota, Ohio, South Dakota, Wisconsin provinces    3
                                                                                                                                  ..
Alabama, North Carolina, South Dakota, Pennsylvania, Texas, Oklahoma provinces                                                     1
Kentucky, Ohio provinces                                                                                                           1
Huron, Erie, Crawford, Lucas, Sandusky districts (Ohio province)                                                                   1
New York City, Washington DC, Baltimore, Maryland                                                                                  1
Sumner, Warren districts (Tennessee province), Alabama, Georgia, Indiana, Kansas, Kentucky, Ohio provinces                         1
Name: Location, Length: 452, dtype: int64

In [6]:
newData = {
    "Location": [],
    "Dis No": []
}

for index, row in wDisaster_df.iterrows():
    #print(type(newData["Location"]))
    if type(row["Location"]) is str:
        for location in row["Location"].split(","):
            newData["Location"].append(location)
            newData["Dis No"].append(row["Dis No"])
splitLocations_df = pd.DataFrame(newData)
splitLocations_df

                                     Location         Dis No
0                                    Kentucky  2000-0080-USA
1                              Ohio provinces  2000-0080-USA
2                                      Morris  2000-0500-USA
3      Sussex districts (New Jersey province)  2000-0500-USA
4                                     Alabama  2000-0919-USA
...                                       ...            ...
4019                                  Georgia  2020-0082-USA
4020                                    Texas  2020-0082-USA
4021                                errebonne  2020-0219-USA
4022                              Plaquemines  2020-0219-USA
4023           Lafourche Parishes (Louisiana)  2020-0219-USA

[4024 rows x 2 columns]

In [7]:
print(wDisaster_df.columns)
wDisaster_df.groupby("Disaster Type").count()

Index(['Dis No', 'Year', 'Seq', 'Disaster Subgroup', 'Disaster Type',
       'Disaster Subtype', 'Disaster Subsubtype', 'Entry Criteria', 'ISO',
       'Location', 'Start Month', 'End Month', 'Total Deaths', 'No Injured',
       'No Affected', 'No Homeless', 'Total Affected',
       'Insured Damages ('000 US$)', 'Total Damages ('000 US$)', 'CPI'],
      dtype='object')

,Dis No,Year,Seq,Disaster Subgroup,Disaster Subtype,Disaster Subsubtype,Entry Criteria,ISO,Location,Start Month,End Month,Total Deaths,No Injured,No Affected,No Homeless,Total Affected,Insured Damages ('000 US$),Total Damages ('000 US$),CPI
Disaster Type,,,,,,,,,,,,,,,,,,,
Drought,11,11,11,11,11,0,11,11,11,11,8,0,0,0,0,0,3,9,11
Earthquake,9,9,9,9,9,0,9,9,9,9,9,3,7,7,2,9,4,8,9
Epidemic,3,3,3,3,2,0,3,3,2,3,3,1,0,3,0,3,0,0,3
Extreme temperature,13,13,13,13,13,2,13,13,13,13,13,12,1,0,0,1,3,3,13
Flood,94,94,94,94,79,0,93,94,94,94,94,70,7,69,5,73,22,54,94
Landslide,3,3,3,3,3,0,3,3,3,3,3,3,2,1,1,3,0,2,3
Storm,278,278,278,278,258,203,278,278,278,278,278,238,102,86,29,155,175,224,274
Volcanic activity,1,1,1,1,1,0,1,1,1,1,1,0,0,1,0,1,0,1,1
Wildfire,62,62,62,62,52,0,62,62,62,62,62,32,22,26,40,54,17,42,62

In [9]:
coordinates_location_df = pd.read_csv(coordinates_csv)
clean_coordinates_index = coordinates_location_df.index
coordinates_location_df = coordinates_location_df.loc[:, ["Location", "Dis No", "Lat", "Long"]]
coordinates_location_df

         Location         Dis No    Lat   Long
0        Kentucky  2000-0080-USA  34.61 -92.66
1          Morris  2000-0500-USA  40.83 -74.53
2         Alabama  2000-0919-USA  32.75 -86.75
3         Georgia  2000-0919-USA  32.75 -83.50
4       Louisiana  2000-0919-USA  31.00 -92.00
...           ...            ...    ...    ...
2856     Kentucky  2020-0082-USA  34.61 -92.66
2857     Missouri  2020-0082-USA  38.25 -92.50
2858  Mississippi  2020-0082-USA  32.75 -89.75
2859      Georgia  2020-0082-USA  32.75 -83.50
2860        Texas  2020-0082-USA  31.25 -99.25

[2861 rows x 4 columns]

In [10]:
coordinates_location_df["Location"].value_counts()

Missouri      89
Texas         80
Kansas        79
Illinois      71
Oklahoma      68
              ..
Greenville     1
Lebanon        1
Hawaï          1
Wapello        1
Osceola        1
Name: Location, Length: 493, dtype: int64

In [14]:
coordinates_data = {
    "Location": [],
    "Dis No": [],
    "Lat": [],
    "Long": []
}

for index, row in coordinates_location_df.iterrows():
    #print(type(coordinates_data["Location"]))
    if type(row["Location"]) is str:
        for location in row["Location"].split(","):
            newData["Location"].append(location)
            newData["Dis No"].append(row["Dis No"])
split_coordinates_df = pd.DataFrame(coordinates_data)
split_coordinates_df.head()

Empty DataFrame
Columns: [Location, Dis No, Lat, Long]
Index: []