In [1]:
import pandas as pd

In [16]:
weatherDisasterCSV = "Resources/disaster_data.csv"
wDisaster_df = pd.read_csv(weatherDisasterCSV)
wDisaster_df = wDisaster_df.loc[wDisaster_df["ISO"] == "USA", :]
wDisaster_df

,Dis No,Year,Seq,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,Entry Criteria,...,End Day,Total Deaths,No Injured,No Affected,No Homeless,Total Affected,Reconstruction Costs ('000 US$),Insured Damages ('000 US$),Total Damages ('000 US$),CPI
2,2000-0080-USA,2000,80,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,Affect,...,22.0,3.0,NaN,231.0,NaN,231.0,NaN,NaN,NaN,67.355759
3,2000-0500-USA,2000,500,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,Affect,...,14.0,NaN,NaN,175.0,NaN,175.0,NaN,NaN,166000.0,67.355759
4,2000-0919-USA,2000,919,Natural,Meteorological,Storm,NaN,NaN,NaN,SigDam,...,25.0,4.0,NaN,NaN,NaN,NaN,NaN,280000.0,350000.0,67.355759
5,2000-9712-USA,2000,9712,Natural,Climatological,Drought,Drought,NaN,NaN,Affected,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.355759
6,2000-0838-USA,2000,838,Natural,Meteorological,Storm,Convective storm,Winter storm/Blizzard,NaN,Kill,...,24.0,57.0,34.0,NaN,NaN,34.0,NaN,200500.0,10000.0,67.355759
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532,2019-0307-USA,2019,307,Natural,Hydrological,Flood,NaN,NaN,NaN,Affected,...,9.0,3.0,NaN,600.0,NaN,600.0,NaN,NaN,NaN,100.000000
533,2020-0148-USA,2020,148,Natural,Meteorological,Storm,Convective storm,Tornado,NaN,Kill,...,14.0,38.0,200.0,NaN,NaN,200.0,NaN,NaN,1000000.0,NaN
534,2020-0011-USA,2020,11,Natural,Meteorological,Storm,Convective storm,Severe storm,NaN,Kill,...,12.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,1200000.0,NaN
535,2020-0082-USA,2020,82,Natural,Meteorological,Storm,Convective storm,Tornado,NaN,Waiting,...,5.0,25.0,300.0,12000.0,NaN,12300.0,NaN,NaN,1100000.0,NaN
536,2020-0219-USA,2020,219,Natural,Meteorological,Storm,Tropical cyclone,NaN,Tropical storm 'Cristobal',Affected,...,7.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,325000.0,NaN

In [27]:
wDisaster_df["Location"].value_counts()

Texas province                                                                                                                                                                                                                                                                                                                                                                                                       4
Arizona province                                                                                                                                                                                                                                                                                                                                                                                                     3
California province                                                                                                                                                                                                                                                                                                                                                                                                  3
Florida province                                                                                                                                                                                                                                                                                                                                                                                                     3
Los Angeles district (California province)                                                                                                                                                                                                                                                                                                                                                                           3
                                                                                                                                                                                                                                                                                                                                                                                                                    ..
Texas, Oklahoma, Missouri provinces                                                                                                                                                                                                                                                                                                                                                                                  1
California, Colorado, Kansas, Montana, Nebraska, New Mexico, North Dakota, Oklahoma, South Dakota, Texas, Wyoming, Illinois, Indiana, Iowa, Kansas, Michigan, Minnesota, Missouri, Nebraska, North Dakota, Ohio, South Dakota, Wisconsin, Alabama, Arkansas, Delaware, Florida, Georgia, Kentucky, Louisiana, Maryland, Mississippi, North Carolina, South Carolina, Tennessee, Virginia, West Virginia provinces    1
Oklahoma, Kansas, Minnesota, Texas, Pennsylvania, New York provinces                                                                                                                                                                                                                                                                                                                                                 1
Calhoun, Lee, Pontotoc, Prentiss, Union districts (Mississippi province)                                                                                                                                                                                                                                                                                                                                             1
Watkins area (Adams district, Colorado province)                                                                                                                                                                                                                                                                                                                                                                     1
Name: Location, Length: 452, dtype: int64

In [46]:
newData = {
    "Location": [],
    "Total Damages ('000 US$)": []
}

for index, row in wDisaster_df.iterrows():
    #print(type(newData["Location"]))
    if type(row["Location"]) is str:
        for location in row["Location"].split(","):
            newData["Location"].append(location)
            newData["Total Damages ('000 US$)"].append(row["Total Damages ('000 US$)"])
pd.DataFrame(newData)

                                     Location  Total Damages ('000 US$)
0                                    Kentucky                       NaN
1                              Ohio provinces                       NaN
2                                      Morris                  166000.0
3      Sussex districts (New Jersey province)                  166000.0
4                                     Alabama                  350000.0
...                                       ...                       ...
4019                                  Georgia                 1100000.0
4020                                    Texas                 1100000.0
4021                                errebonne                  325000.0
4022                              Plaquemines                  325000.0
4023           Lafourche Parishes (Louisiana)                  325000.0

[4024 rows x 2 columns]

In [17]:
print(wDisaster_df.columns)
wDisaster_df.groupby("Disaster Type").count()

Index(['Dis No', 'Year', 'Seq', 'Disaster Group', 'Disaster Subgroup',
       'Disaster Type', 'Disaster Subtype', 'Disaster Subsubtype',
       'Event Name', 'Entry Criteria', 'Country', 'ISO', 'Region', 'Continent',
       'Location', 'Origin', 'Associated Dis', 'Associated Dis2',
       'OFDA Response', 'Appeal', 'Declaration', 'Aid Contribution',
       'Dis Mag Value', 'Dis Mag Scale', 'Latitude', 'Longitude', 'Local Time',
       'River Basin', 'Start Year', 'Start Month', 'Start Day', 'End Year',
       'End Month', 'End Day', 'Total Deaths', 'No Injured', 'No Affected',
       'No Homeless', 'Total Affected', 'Reconstruction Costs ('000 US$)',
       'Insured Damages ('000 US$)', 'Total Damages ('000 US$)', 'CPI'],
      dtype='object')

,Dis No,Year,Seq,Disaster Group,Disaster Subgroup,Disaster Subtype,Disaster Subsubtype,Event Name,Entry Criteria,Country,...,End Day,Total Deaths,No Injured,No Affected,No Homeless,Total Affected,Reconstruction Costs ('000 US$),Insured Damages ('000 US$),Total Damages ('000 US$),CPI
Disaster Type,,,,,,,,,,,,,,,,,,,,,
Drought,11,11,11,11,11,11,0,0,11,11,...,0,0,0,0,0,0,0,3,9,11
Earthquake,9,9,9,9,9,9,0,0,9,9,...,9,3,7,7,2,9,0,4,8,9
Epidemic,3,3,3,3,3,2,0,2,3,3,...,3,1,0,3,0,3,0,0,0,3
Extreme temperature,13,13,13,13,13,13,2,0,13,13,...,10,12,1,0,0,1,0,3,3,13
Flood,94,94,94,94,94,79,0,0,93,94,...,93,70,7,69,5,73,0,22,54,94
Landslide,3,3,3,3,3,3,0,0,3,3,...,3,3,2,1,1,3,0,0,2,3
Storm,278,278,278,278,278,258,203,49,278,278,...,275,238,102,86,29,155,0,175,224,274
Volcanic activity,1,1,1,1,1,1,0,1,1,1,...,1,0,0,1,0,1,0,0,1,1
Wildfire,62,62,62,62,62,52,0,13,62,62,...,53,32,22,26,40,54,0,17,42,62

In [18]:
disasterNo_df = wDisaster_df.loc[:, ["Dis No", "Location"]]
disasterNo

            Dis No                                           Location
2    2000-0080-USA                           Kentucky, Ohio provinces
3    2000-0500-USA     Morris, Sussex districts (New Jersey province)
4    2000-0919-USA  Alabama, Georgia, Louisiana, North Carolina, S...
5    2000-9712-USA                                   Wyoming province
6    2000-0838-USA  Texas, Oklahoma, New Mexico, Arkansas, Missour...
..             ...                                                ...
532  2019-0307-USA  Lincolnton region (Lincoln County, North Carol...
533  2020-0148-USA  Louisiana, Texas, Mississippi, South Carolina,...
534  2020-0011-USA  Texas, Oklahoma, Missouri, Arkansas, Louisiana...
535  2020-0082-USA  Nashville (Tennessee), Kentucky, Missouri, Mis...
536  2020-0219-USA  errebonne, Plaquemines, Lafourche Parishes (Lo...

[474 rows x 2 columns]