In [1]:
import pandas as pd
import requests
import json
from pprint import pprint
from config import openWeatherKey

In [12]:
disasterdataCSV = "Resources/disaster_data.csv"
Data_disaster_df = pd.read_csv(disasterdataCSV)
Data_disaster_df

,Dis No,Year,Seq,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,Entry Criteria,...,End Day,Total Deaths,No Injured,No Affected,No Homeless,Total Affected,Reconstruction Costs ('000 US$),Insured Damages ('000 US$),Total Damages ('000 US$),CPI
0,2000-0420-CAN,2000,420,Natural,Meteorological,Storm,Convective storm,Tornado,NaN,Kill,...,14.0,11.0,140.0,NaN,700.0,840.0,NaN,10000.0,13000.0,67.355759
1,2001-0052-CAN,2001,52,Natural,Meteorological,Storm,NaN,NaN,NaN,Kill,...,10.0,11.0,NaN,NaN,30.0,30.0,NaN,NaN,NaN,69.259340
2,2000-0080-USA,2000,80,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,Affect,...,22.0,3.0,NaN,231.0,NaN,231.0,NaN,NaN,NaN,67.355759
3,2000-0500-USA,2000,500,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,Affect,...,14.0,NaN,NaN,175.0,NaN,175.0,NaN,NaN,166000.0,67.355759
4,2000-0919-USA,2000,919,Natural,Meteorological,Storm,NaN,NaN,NaN,SigDam,...,25.0,4.0,NaN,NaN,NaN,NaN,NaN,280000.0,350000.0,67.355759
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532,2019-0307-USA,2019,307,Natural,Hydrological,Flood,NaN,NaN,NaN,Affected,...,9.0,3.0,NaN,600.0,NaN,600.0,NaN,NaN,NaN,100.000000
533,2020-0148-USA,2020,148,Natural,Meteorological,Storm,Convective storm,Tornado,NaN,Kill,...,14.0,38.0,200.0,NaN,NaN,200.0,NaN,NaN,1000000.0,NaN
534,2020-0011-USA,2020,11,Natural,Meteorological,Storm,Convective storm,Severe storm,NaN,Kill,...,12.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,1200000.0,NaN
535,2020-0082-USA,2020,82,Natural,Meteorological,Storm,Convective storm,Tornado,NaN,Waiting,...,5.0,25.0,300.0,12000.0,NaN,12300.0,NaN,NaN,1100000.0,NaN
536,2020-0219-USA,2020,219,Natural,Meteorological,Storm,Tropical cyclone,NaN,Tropical storm 'Cristobal',Affected,...,7.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,325000.0,NaN

In [4]:
weatherDisasterSouth_EastCSV = "output_data/NEW_coordinates.csv"
wDisaster_df = pd.read_csv(weatherDisasterSouth_EastCSV)
wDisaster_df

      Unnamed: 0  Unnamed: 0.1     Location         Dis No    Lat   Long
0              0             0     Kentucky  2000-0080-USA  34.61 -92.66
1              1             2       Morris  2000-0500-USA  40.83 -74.53
2              2             4      Alabama  2000-0919-USA  32.75 -86.75
3              3             5      Georgia  2000-0919-USA  32.75 -83.50
4              4             6    Louisiana  2000-0919-USA  31.00 -92.00
...          ...           ...          ...            ...    ...    ...
2856        2856          4016     Kentucky  2020-0082-USA  34.61 -92.66
2857        2857          4017     Missouri  2020-0082-USA  38.25 -92.50
2858        2858          4018  Mississippi  2020-0082-USA  32.75 -89.75
2859        2859          4019      Georgia  2020-0082-USA  32.75 -83.50
2860        2860          4020        Texas  2020-0082-USA  31.25 -99.25

[2861 rows x 6 columns]

In [9]:
SE_wDisaster_df = wDisaster_df.loc[(wDisaster_df["Long"]>-90) & (wDisaster_df["Lat"]<38),["Location","Dis No","Lat", "Long"]]
SE_wDisaster_df

            Location         Dis No    Lat   Long
2            Alabama  2000-0919-USA  32.75 -86.75
3            Georgia  2000-0919-USA  32.75 -83.50
5     North Carolina  2000-0919-USA  35.50 -80.00
6     South Carolina  2000-0919-USA  34.00 -81.00
7          Tennessee  2000-0919-USA  35.75 -86.25
...              ...            ...    ...    ...
2852     Mississippi  2020-0011-USA  32.75 -89.75
2853         Alabama  2020-0011-USA  32.75 -86.75
2854       Tennessee  2020-0011-USA  35.75 -86.25
2858     Mississippi  2020-0082-USA  32.75 -89.75
2859         Georgia  2020-0082-USA  32.75 -83.50

[579 rows x 4 columns]

In [11]:
len(SE_wDisaster_df["Location"].unique())

98

In [15]:
SE_Data_list_df = pd.merge(SE_wDisaster_df, Data_disaster_df, on="Dis No", how="left")
SE_Data_list_df

,Location_x,Dis No,Lat,Long,Year,Seq,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,...,End Day,Total Deaths,No Injured,No Affected,No Homeless,Total Affected,Reconstruction Costs ('000 US$),Insured Damages ('000 US$),Total Damages ('000 US$),CPI
0,Alabama,2000-0919-USA,32.75,-86.75,2000,919,Natural,Meteorological,Storm,NaN,...,25.0,4.0,NaN,NaN,NaN,NaN,NaN,280000.0,350000.0,67.355759
1,Georgia,2000-0919-USA,32.75,-83.50,2000,919,Natural,Meteorological,Storm,NaN,...,25.0,4.0,NaN,NaN,NaN,NaN,NaN,280000.0,350000.0,67.355759
2,North Carolina,2000-0919-USA,35.50,-80.00,2000,919,Natural,Meteorological,Storm,NaN,...,25.0,4.0,NaN,NaN,NaN,NaN,NaN,280000.0,350000.0,67.355759
3,South Carolina,2000-0919-USA,34.00,-81.00,2000,919,Natural,Meteorological,Storm,NaN,...,25.0,4.0,NaN,NaN,NaN,NaN,NaN,280000.0,350000.0,67.355759
4,Tennessee,2000-0919-USA,35.75,-86.25,2000,919,Natural,Meteorological,Storm,NaN,...,25.0,4.0,NaN,NaN,NaN,NaN,NaN,280000.0,350000.0,67.355759
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
574,Mississippi,2020-0011-USA,32.75,-89.75,2020,11,Natural,Meteorological,Storm,Convective storm,...,12.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,1200000.0,NaN
575,Alabama,2020-0011-USA,32.75,-86.75,2020,11,Natural,Meteorological,Storm,Convective storm,...,12.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,1200000.0,NaN
576,Tennessee,2020-0011-USA,35.75,-86.25,2020,11,Natural,Meteorological,Storm,Convective storm,...,12.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,1200000.0,NaN
577,Mississippi,2020-0082-USA,32.75,-89.75,2020,82,Natural,Meteorological,Storm,Convective storm,...,5.0,25.0,300.0,12000.0,NaN,12300.0,NaN,NaN,1100000.0,NaN
578,Georgia,2020-0082-USA,32.75,-83.50,2020,82,Natural,Meteorological,Storm,Convective storm,...,5.0,25.0,300.0,12000.0,NaN,12300.0,NaN,NaN,1100000.0,NaN

In [18]:
len(SE_Data_list_df["Dis No"].unique())

172